<% include ../partials/header %>
<div class="row">
  <h1 style="text-align: center;">Add New Comment to <%= campground.name %></h1>
  <div class="rwd-form">
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="form-group">
        <label for="comment[text]">Comment</label>
        <input class="form-control" type="text" name="comment[text]" placeholder="What are you thinking about?" autocomplete="off" />
      </div>
      <div class="form-group">
        <button class="btn btn-md btn-primary btn-block">Submit!</button>
      </div>
    </form>
    
    <a href="/campgrounds/<%= campground._id %>">Back</a>
  </div>
</div>
<% include ../partials/footer %>