<% include ./partials/header %>

<div class="row">
  <h1 style="text-align: center">Login</h1>
  <div class="rwd-form">
    <form action="/login" method="post">
      <div class="form-group">
        <label for="username">User Name</label>
        <input class="form-control" type="text" name="username" autocomplete="off" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" autocomplete="off" required />
      </div>
      <div class="form-group">
        <button class="btn btn-md btn-primary btn-block">Login</button>
      </div>
      <span>Forgot your password? <a href="/password_reset">Reset password</a></span>
      <hr>
      <span>New to YelpCamp? <a href="/register">Sign up now!</a></span>
    </form>
    <hr>
    <a href="/campgrounds">Back</a>
  </div>
</div>

<% include ./partials/footer %>