<% include ./partials/header %>
  <div class="row">
    <div class="rwd-form">
      <form action="/password_reset" method="POST">
        <fieldset>
          <legend>Password Reset</legend>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" autocomplete="off" autofocus />
          </div>
          <small>You will receive a confirmation email after sending the request. Please check the email for further instructions.</small>
          <hr>
          <div class="form-group">
            <input class="btn btn-primary btn-md" type="submit" value="Continue" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
<% include ./partials/footer %>